<table>
  <thead>
    <tr>
      <th>Propser</th>
      <th>Propsee</th>
      <th>Date of Props</th>
      <th>Props</th>
    </tr>
  </thead>
  <tbody>
    <% @props.each do |prop| %>
      <tr>
        <td><%= prop.user.slack_user %></td>
        <td>
          <% prop.recipients.each do |recipient| %>
            <span><%= recipient.user.slack_user %></span>
          <% end %>
        </td>
        <td><%= prop.created_at %></td>
        <td><%= prop.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
