<table>
  <thead>
    <tr>
      <th>Propser</th>
      <th>Propsee</th>
      <th>Date of Props</th>
      <th>Props</th>
    </tr>
  </thead>
  <tbody>
    <% @praises.each do |praise| %>
      <tr>
        <td><%= praise.user.slack_id %></td>
        <td>
          <% praise.recipients.each do |recipient| %>
            <span><%= recipient.user_id %></span>
          <% end %>
        </td>
        <td><%= praise.created_at %></td>
        <td><%= praise.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
