@import 'login_card';

body {
    font-family: 'Roboto';font-size: 22px;
    background-color: #30363d;
}

h1 {
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
}

p {
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}

.time-text {
    font-size: 10px;
    text-align: right;
}

.gray-text {
  color: #30363d;
}

.hello-align {
  text-align: right;
  text-align: top;
}

.padding-sides {
    padding-right: 20px;
    padding-left: 20px;
  }

.logo img {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 100px;
}

.arrow-padding-sides {
    padding-right: 5px;
    padding-left: 5px;
  }

.padding-right {
    padding-right: 10px;
  }

.message {
    background-color: #FFFFFF;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1000px;
  }

.leaderboard {
    background-color: #1E6DD6;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-cropper {
    display: inline-block;
  }

.image-cropper img {
  display: inline-block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.recipient-0 {
  z-index: 1;
}
.recipient-1 {
  position: relative;
  z-index: 2;
  left: -12px;
}
.recipient-2 {
  position: relative;
  z-index: 3;
  left: -25px;
}
.multi-user-thread {
  position: relative;
  left: -18px;
}
.right-arrow {
  height: 10px;
  align: center;
}
a {
  color: white;
  outline: none;
}
